h1{
  font-size: 36px;
  font-family: verdana;
  text-align: center;
  color: black;
  font-weight: bold;
}

h2{
    color: black;
    font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;

p{
  font-size: 18px;
}

body{
    background-color: #fdf2cf;
    padding: 3px;
}

.container {
  padding-bottom: 2px;
}

figcaption{
  text-align: center;
}

figure img{
  max-width: 60%;
  height: auto;
  display: block;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  font-family: Verdana;
}

#skip a{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus{
position:static;
width:auto;
height:auto;
}

article{
  margin: 8px;
}

footer {
  border-top: 3px solid black;
  text-align: center;
  font-weight: bold;
  background-color:#fdf2cf; 
  color: black;
}