h1#site-title{
  font-size: 72px;
  letter-spacing: -3px;
  margin-top:0;
  margin-bottom: .125em; 
}
h1{
  font-size: 36px;
  font-family: verdana;
  text-align: center;
  color: #ff5e6c;
  font-weight: bold;
  
}

h2{
    color: #ff5e6c;
    font-weight: bold;
}
body{
    background-color: #fff5d7;
}

figcaption{
  text-align: center;
}

figure img{
  display: block;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  font-family: Verdana;
}

#skip a{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus{
position:static;
width:auto;
height:auto;
}