h1{
  font-size: 36px;
  font-family: verdana;
  text-align: center;
}

figcaption{
  text-align: center;
}

figure img{
  display: block;
  margin: auto;
}

nav ul li a {
  text-decoration: underline;
  padding: 12px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f027d1;
}