.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}
.small-container {
  margin: 0 auto;
  width: 92%;
  max-width: 768px;
}
h1{
  color: #2730f0;
  font-family: Papyrus;
  text-align: center;
}
h1#site-title{
  font-size: 72px;
  letter-spacing: -3px;
  margin-top:0;
  margin-bottom: .125em; 
}
h1#article-title {
  font-size: 48px;
  color:black 
}
h2{
  font-size: 24px;
  color: black;
  text-align: center;
}
p{
  background-color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}
 figure {
  margin: 0;
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}
figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}
figure.main-image{
  float: center;
}
figure.section-image{
  margin-bottom: 32px;
  max-width: 320px;
}
figure.section-image.odd{
  float: right;
  margin-left: 20px;
}
figure.section-image.even{
  float: left;
  margin-right: 20px;
}
header nav ul {
  border-top: 1px solid #f027d1;
  border-bottom: 1px solid #f027d1;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  font-family: papyrus;
}
nav ul li a {
  text-decoration: underline;
  padding: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f027d1;
}
.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
  color: #fff;
}
.skip-nav{
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}